@import '../../constants/constants.sass'

.add-event

  .list

  .list-item
    display: flex
    align-items: center
    margin-right: 10px
    padding: 10px 0
    font-size: 14px
    font-weight: 400

    .nmb
      margin-right: 5px

    &--error
      color: $error

    &--check
      color: $check

  .list-item__checklist
    display: flex
    align-items: center
    position: relative
    &:hover
      background: $check
      cursor: pointer

    .scroller-wrap
      margin-left: 30px

    .check-sign
      font-size: 0
      position: absolute
      left: 10px

  .list-item__mistakes
    display: flex
    align-items: center
    font-size: 16px
    font-weight: 400

    .mistake-cnt
      width: 30px
      height: 30px
      font-size: 15px
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      color: $fiolet
      border: 1px solid $fiolet
      margin-right: 20px
      flex-shrink: 0