.background
  background: url('img/bg.jpg')
  background-size: cover
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: 0
  z-index: -1
.app
  padding: 0 20px

  // Константы

$error: red