.background
  background: url('img/bg.jpg')
  background-size: cover
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: -1
.app
  position: relative
  padding: 0 20px
  margin-bottom: 20px
  section
    display: flex
  main, aside
    display: flex
    flex-direction: column
    .page
      max-height: 350px
      overflow: hidden
  main
    width: 65%
  .nav-tabs
    margin-bottom: 10px
    display: flex
    .nav-item
      flex-grow: 1