@import '../../constants/constants.sass'

.main-nav
  position: absolute
  top: 0
  left: -400px
  width: 400px
  height: 100vh
  background: $white
  padding-top: 35px
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  transition: left 0.5s
  z-index: 10

  .nav-item
    width: 100%
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    margin-top: 10px
    background: none
    border: none
    position: relative

.nav-opened
  left: 0

.burger-close
  position: absolute
  right: 10px
  top: 10px
  width: 32px
  height: 32px
  opacity: 0.3
  cursor: pointer

  &:hover
    opacity: 1

  &:before, &:after
    position: absolute
    left: 15px
    content: ' '
    height: 33px
    width: 2px
    background-color: #333

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(-45deg)
